@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://pagecdn.io/lib/easyfonts/post-no-bills-jaffna.css');

$police1: Roboto, Arial;
$police2: Post No Bills Jaffna, Arial;

$color1: white;
$color2: black;
$color3: #ff00f7;
$color4: #00ebff;

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
    &-thumb {
        background: rgb(216, 216, 216);
        border: 31px none #ffffff;
        border-radius: 5px;
        &:hover {
            background: rgb(185, 185, 185);
        }
    }
}

body {
    width: 100%;
    margin: 0px;
    margin-top: -16px;
    background: url('image/background.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    scrollbar-color: black;
    & > main {
        & > div:nth-of-type(1) {
            height: 663px;
            color: $color1;
            font-family: $police2;
            font-size: 33px;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;
            & > div {
                position: fixed;
                width: 86%;
                font-size: 29px;
                z-index: -1;
                background: black;
                padding: 15px;
                border: 3.1px dashed white;
                border-style: dashed solid;
                animation: clipBorder 2.3s infinite alternate-reverse;
                & > p {
                    margin-top: -50px;
                }
            }
        }

        & > header {
            position: fixed;
            top: 0px;
            opacity: 0;
            transition: all 0.2s;
            width: 100%;
            height: 53px;
            background-color: $color1;
            color: $color2;
            font-family: $police2;
            padding-top: 5px;
            display: flex;
            justify-content: flex-end;
            animation: clipBorder 2.3s infinite alternate-reverse;
            border-bottom: 0.01px solid black;
            z-index: 2;
            & > p {
                margin-top: 3px;
                margin-left: 10px;
                font-size: 28px;
                flex: auto;
            }
            & > a {
                margin-top: 6.5px;
                font-size: 27px;
                cursor: pointer;
                transition: all 0.3s;
                color: $color2;
                &:nth-of-type(1):hover {
                    color: rgb(196, 0, 170);
                }
                &:nth-of-type(2) {
                    margin-left: 10px;
                    margin-right: 10px;
                    &:hover {
                        color: #9c2222;
                    }
                }
                &:nth-of-type(3) {
                    margin-right: 15px;
                    &:hover {
                        color: #0a66c2;
                    }
                }
                & > i {
                    display: none;
                }
            }
        }

        & > section {
            background-color: white;
            background-attachment: fixed;
            background-size: cover;
            width: 100%;
            height: 100%;
            padding-top: 30%;
            padding-bottom: 137px;
            display: flex;
            align-items: center;
            flex-direction: column;
            & > div {
                background: black;
                border: 3.1px dashed white;
                border-style: dashed solid;
                animation: clipBorder 2.3s infinite alternate-reverse;
                color: $color1;
                font-family: $police2;
                font-size: 22px;
                transition: all 1.5s;
                z-index: 1;
                box-shadow: 0px 20px 20px 0px #0101018c;
                margin-bottom: 70px;
                width: 85%;
                padding: 14px;
                &:nth-of-type(1) > span > img {
                    margin: 0px;
                    border-radius: 50px;
                    width: 70px;
                }
                &:nth-of-type(2) {
                    & > h1 {
                        text-align: center;
                        margin-bottom: 4.5rem;
                    }
                    & > p {
                        margin-top: 2px;
                        & > a {
                            color: $color3;
                            transition: all 0.5s;
                            &:hover {
                                color: $color4;
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    & > h1 {
                        text-align: center;
                        margin-bottom: 4.5rem;
                    }
                    & > p {
                        margin-top: 2px;
                    }
                }
                &:nth-of-type(4) {
                    text-align: center;
                    & > h1 {
                        margin-bottom: 4.5rem;
                    }
                    & > h3 {
                        margin-top: 0px;
                        margin-left: 10px;
                        display: inline-block;
                    }
                }
                &:nth-of-type(5) {
                    text-align: center;
                    & > h1 {
                        margin-bottom: 4.5rem;
                    }
                    & > h3 {
                        margin-top: 0px;
                        margin-left: 10px;
                        display: inline-block;
                    }
                }
                &:nth-of-type(6) {
                    text-align: center;
                    & > h1 {
                        margin-bottom: 4.5rem;
                    }
                    & > h3 {
                        display: inline-block;
                        & > a {
                            margin-top: 0px;
                            margin-left: 10px;
                            color: $color1;
                            &:hover {
                                color: $color4;
                            }
                        }
                    }
                }
            }
        }

        section > aside {
            background-image: url('image/footer.svg');
            background-repeat: space;
            background-size: cover;
            margin-top: -196px;
            height: 350px;
            width: 100%;
            transform: translateY(138px);
            transition: all 1s;
            & > p {
                text-align: center;
                position: absolute;
                left: 13.5%;
                bottom: 0px;
                font-size: 19px;
                background: white;
                width: 70%;
                border-radius: 3px;
                padding: 5px;
                font-family: $police1;
                box-shadow: -1px 2px 6px 0px #0101014a;
                color: $color2;
            }
        }
    }
}

@keyframes clipBorder {
    0% {
        border-color: white;
    }
    15% {
        border-color: red;
    }
    30% {
        border-color: orange;
    }
    45% {
        border-color: green;
    }
    60% {
        border-color: aqua;
    }
    75% {
        border-color: blue;
    }
    90% {
        border-color: purple;
    }
    100% {
        border-color: pink;
    }
}